<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Final Project: Data Analysis using Spark

Estimated time needed: **60** minutes

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL. This needs to be achieved by performing the following tasks:

- Task 1: Generate DataFrame from CSV data.
- Task 2: Define a schema for the data.
- Task 3: Display schema of DataFrame.
- Task 4: Create a temporary view.
- Task 5: Execute an SQL query.
- Task 6: Calculate Average Salary by Department.
- Task 7: Filter and Display IT Department Employees.
- Task 8: Add 10% Bonus to Salaries.
- Task 9: Find Maximum Salary by Age.
- Task 10: Self-Join on Employee Data.
- Task 11: Calculate Average Employee Age.
- Task 12: Calculate Total Salary by Department.
- Task 13: Sort Data by Age and Salary.
- Task 14: Count Employees in Each Department.
- Task 15: Filter Employees with the letter o in the Name.

### Prerequisites 

1. For this lab assignment, you will be using Python and Spark (PySpark). Therefore, it's essential to make sure that the following libraries are installed in your lab environment or within Skills Network (SN) Labs

In [1]:
# Installing required packages  

!pip3 install pyspark findspark wget

Requirement already satisfied: pyspark in /Volumes/SSD/development/data_engineering/learning-spark/venv/lib/python3.11/site-packages (3.5.1)
Requirement already satisfied: findspark in /Volumes/SSD/development/data_engineering/learning-spark/venv/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: wget in /Volumes/SSD/development/data_engineering/learning-spark/venv/lib/python3.11/site-packages (3.2)
Requirement already satisfied: py4j==0.10.9.7 in /Volumes/SSD/development/data_engineering/learning-spark/venv/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
WARNING: There was an error checking the latest version of pip.

In [2]:
import findspark

findspark.init()

In [3]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession

In [4]:
# Creating a SparkContext object

sc = SparkContext.getOrCreate()

# Creating a SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/07/14 14:49:22 WARN Utils: Your hostname, Alexs-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.178.87 instead (on interface en0)
24/07/14 14:49:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/14 14:49:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/14 14:49:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/07/14 14:49:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/07/14 14:49:22 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

2. Download the CSV data.

In [5]:
# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

'employees.csv'

### Tasks

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [7]:
# Read data from the "emp" CSV file and import it into a DataFrame variable named "employees_d"
employees_df = spark.read.csv("employees.csv", header=True, inferSchema=True)
employees_df.show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [10]:
# Define a Schema for the input data and read the file using the user-defined Schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

# Define the schema for the input data
schema = StructType([
    StructField("Emp_No", IntegerType(), True),
    StructField("Emp_Name", StringType(), True),
    StructField("Salary", DoubleType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True),
])

# Read the CSV file using the user-defined schema
employees_df = spark.read.schema(schema).csv("employees.csv", header=True)
employees_df.show()

+------+---------+-------+---+----------+
|Emp_No| Emp_Name| Salary|Age|Department|
+------+---------+-------+---+----------+
|   198|   Donald| 2600.0| 29|        IT|
|   199|  Douglas| 2600.0| 34|     Sales|
|   200| Jennifer| 4400.0| 36| Marketing|
|   201|  Michael|13000.0| 32|        IT|
|   202|      Pat| 6000.0| 39|        HR|
|   203|    Susan| 6500.0| 36| Marketing|
|   204|  Hermann|10000.0| 29|   Finance|
|   205|  Shelley|12008.0| 33|   Finance|
|   206|  William| 8300.0| 37|        IT|
|   100|   Steven|24000.0| 39|        IT|
|   101|    Neena|17000.0| 27|     Sales|
|   102|      Lex|17000.0| 37| Marketing|
|   103|Alexander| 9000.0| 39| Marketing|
|   104|    Bruce| 6000.0| 38|        IT|
|   105|    David| 4800.0| 39|        IT|
|   106|    Valli| 4800.0| 38|     Sales|
|   107|    Diana| 4200.0| 35|     Sales|
|   108|    Nancy|12008.0| 28|     Sales|
|   109|   Daniel| 9000.0| 35|        HR|
|   110|     John| 8200.0| 31| Marketing|
+------+---------+-------+---+----------+
only showing top 20 rows

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [11]:
# Display all columns of the DataFrame, along with their respective data types
employees_df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [12]:
# Create a temporary view named "employees" for the DataFrame
employees_df.createOrReplaceTempView("employees")

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [13]:
# SQL query to fetch solely the records from the View where the age exceeds 30
result = spark.sql("SELECT * FROM employees WHERE Age > 30")
result.show()

+------+-----------+-------+---+----------+
|Emp_No|   Emp_Name| Salary|Age|Department|
+------+-----------+-------+---+----------+
|   199|    Douglas| 2600.0| 34|     Sales|
|   200|   Jennifer| 4400.0| 36| Marketing|
|   201|    Michael|13000.0| 32|        IT|
|   202|        Pat| 6000.0| 39|        HR|
|   203|      Susan| 6500.0| 36| Marketing|
|   205|    Shelley|12008.0| 33|   Finance|
|   206|    William| 8300.0| 37|        IT|
|   100|     Steven|24000.0| 39|        IT|
|   102|        Lex|17000.0| 37| Marketing|
|   103|  Alexander| 9000.0| 39| Marketing|
|   104|      Bruce| 6000.0| 38|        IT|
|   105|      David| 4800.0| 39|        IT|
|   106|      Valli| 4800.0| 38|     Sales|
|   107|      Diana| 4200.0| 35|     Sales|
|   109|     Daniel| 9000.0| 35|        HR|
|   110|       John| 8200.0| 31| Marketing|
|   111|     Ismael| 7700.0| 32|        IT|
|   112|Jose Manuel| 7800.0| 34|        HR|
|   113|       Luis| 6900.0| 34|     Sales|
|   116|     Shelli| 2900.0| 37|   Finance|
+------+-----------+-------+---+----------+
only showing top 20 rows

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [14]:
# SQL query to calculate the average salary of employees grouped by department
avg_salary_by_dept = spark.sql("SELECT Department, AVG(Salary) as Avg_Salary FROM employees GROUP BY Department")
avg_salary_by_dept.show()

+----------+-----------------+
|Department|       Avg_Salary|
+----------+-----------------+
|     Sales|5492.923076923077|
|        HR|           5837.5|
|   Finance|           5730.8|
| Marketing|6633.333333333333|
|        IT|           7400.0|
+----------+-----------------+

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [15]:
# Apply a filter to select records where the department is 'IT'
it_employees = employees_df.filter(employees_df.Department == 'IT')
it_employees.show()

+------+--------+-------+---+----------+
|Emp_No|Emp_Name| Salary|Age|Department|
+------+--------+-------+---+----------+
|   198|  Donald| 2600.0| 29|        IT|
|   201| Michael|13000.0| 32|        IT|
|   206| William| 8300.0| 37|        IT|
|   100|  Steven|24000.0| 39|        IT|
|   104|   Bruce| 6000.0| 38|        IT|
|   105|   David| 4800.0| 39|        IT|
|   111|  Ismael| 7700.0| 32|        IT|
|   129|   Laura| 3300.0| 38|        IT|
|   132|      TJ| 2100.0| 34|        IT|
|   136|   Hazel| 2200.0| 29|        IT|
+------+--------+-------+---+----------+

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [17]:
from pyspark.sql.functions import col

# Add a new column "SalaryAfterBonus" with 10% bonus added to the original salary
employees_df = employees_df.withColumn("SalaryAfterBonus", col("Salary") * 1.10)
employees_df.show()

+------+---------+-------+---+----------+------------------+
|Emp_No| Emp_Name| Salary|Age|Department|  SalaryAfterBonus|
+------+---------+-------+---+----------+------------------+
|   198|   Donald| 2600.0| 29|        IT|2860.0000000000005|
|   199|  Douglas| 2600.0| 34|     Sales|2860.0000000000005|
|   200| Jennifer| 4400.0| 36| Marketing|            4840.0|
|   201|  Michael|13000.0| 32|        IT|14300.000000000002|
|   202|      Pat| 6000.0| 39|        HR| 6600.000000000001|
|   203|    Susan| 6500.0| 36| Marketing| 7150.000000000001|
|   204|  Hermann|10000.0| 29|   Finance|           11000.0|
|   205|  Shelley|12008.0| 33|   Finance|13208.800000000001|
|   206|  William| 8300.0| 37|        IT|            9130.0|
|   100|   Steven|24000.0| 39|        IT|26400.000000000004|
|   101|    Neena|17000.0| 27|     Sales|           18700.0|
|   102|      Lex|17000.0| 37| Marketing|           18700.0|
|   103|Alexander| 9000.0| 39| Marketing|            9900.0|
|   104|    Bruce| 6000.0| 38|        IT| 6600.000000000001|
|   105|    David| 4800.0| 39|        IT|            5280.0|
|   106|    Valli| 4800.0| 38|     Sales|            5280.0|
|   107|    Diana| 4200.0| 35|     Sales|            4620.0|
|   108|    Nancy|12008.0| 28|     Sales|13208.800000000001|
|   109|   Daniel| 9000.0| 35|        HR|            9900.0|
|   110|     John| 8200.0| 31| Marketing|            9020.0|
+------+---------+-------+---+----------+------------------+
only showing top 20 rows

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [18]:
from pyspark.sql.functions import max

# Group data by age and calculate the maximum salary for each age group
max_salary_by_age = employees_df.groupBy("Age").agg(max("Salary").alias("Max_Salary"))
max_salary_by_age.show()

+---+----------+
|Age|Max_Salary|
+---+----------+
| 31|    8200.0|
| 34|    7800.0|
| 28|   12008.0|
| 27|   17000.0|
| 26|    3600.0|
| 37|   17000.0|
| 35|    9000.0|
| 39|   24000.0|
| 38|    6000.0|
| 29|   10000.0|
| 32|   13000.0|
| 33|   12008.0|
| 30|    8000.0|
| 36|    7900.0|
+---+----------+

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [19]:
# Join the DataFrame with itself based on the "Emp_No" column
self_joined_df = employees_df.alias("df1").join(employees_df.alias("df2"), col("df1.Emp_No") == col("df2.Emp_No"))
self_joined_df.show()

+------+---------+-------+---+----------+------------------+------+---------+-------+---+----------+------------------+
|Emp_No| Emp_Name| Salary|Age|Department|  SalaryAfterBonus|Emp_No| Emp_Name| Salary|Age|Department|  SalaryAfterBonus|
+------+---------+-------+---+----------+------------------+------+---------+-------+---+----------+------------------+
|   198|   Donald| 2600.0| 29|        IT|2860.0000000000005|   198|   Donald| 2600.0| 29|        IT|2860.0000000000005|
|   199|  Douglas| 2600.0| 34|     Sales|2860.0000000000005|   199|  Douglas| 2600.0| 34|     Sales|2860.0000000000005|
|   200| Jennifer| 4400.0| 36| Marketing|            4840.0|   200| Jennifer| 4400.0| 36| Marketing|            4840.0|
|   201|  Michael|13000.0| 32|        IT|14300.000000000002|   201|  Michael|13000.0| 32|        IT|14300.000000000002|
|   202|      Pat| 6000.0| 39|        HR| 6600.000000000001|   202|      Pat| 6000.0| 39|        HR| 6600.000000000001|
|   203|    Susan| 6500.0| 36| Marketing| 7150.000000000001|   203|    Susan| 6500.0| 36| Marketing| 7150.000000000001|
|   204|  Hermann|10000.0| 29|   Finance|           11000.0|   204|  Hermann|10000.0| 29|   Finance|           11000.0|
|   205|  Shelley|12008.0| 33|   Finance|13208.800000000001|   205|  Shelley|12008.0| 33|   Finance|13208.800000000001|
|   206|  William| 8300.0| 37|        IT|            9130.0|   206|  William| 8300.0| 37|        IT|            9130.0|
|   100|   Steven|24000.0| 39|        IT|26400.000000000004|   100|   Steven|24000.0| 39|        IT|26400.000000000004|
|   101|    Neena|17000.0| 27|     Sales|           18700.0|   101|    Neena|17000.0| 27|     Sales|           18700.0|
|   102|      Lex|17000.0| 37| Marketing|           18700.0|   102|      Lex|17000.0| 37| Marketing|           18700.0|
|   103|Alexander| 9000.0| 39| Marketing|            9900.0|   103|Alexander| 9000.0| 39| Marketing|            9900.0|
|   104|    Bruce| 6000.0| 38|        IT| 6600.000000000001|   104|    Bruce| 6000.0| 38|        IT| 6600.000000000001|
|   105|    David| 4800.0| 39|        IT|            5280.0|   105|    David| 4800.0| 39|        IT|            5280.0|
|   106|    Valli| 4800.0| 38|     Sales|            5280.0|   106|    Valli| 4800.0| 38|     Sales|            5280.0|
|   107|    Diana| 4200.0| 35|     Sales|            4620.0|   107|    Diana| 4200.0| 35|     Sales|            4620.0|
|   108|    Nancy|12008.0| 28|     Sales|13208.800000000001|   108|    Nancy|12008.0| 28|     Sales|13208.800000000001|
|   109|   Daniel| 9000.0| 35|        HR|            9900.0|   109|   Daniel| 9000.0| 35|        HR|            9900.0|
|   110|     John| 8200.0| 31| Marketing|            9020.0|   110|     John| 8200.0| 31| Marketing|            9020.0|
+------+---------+-------+---+----------+------------------+------+---------+-------+---+----------+------------------+
only showing top 20 rows

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [20]:
from pyspark.sql.functions import avg

# Calculate the average age of employees
avg_age = employees_df.agg(avg("Age").alias("Avg_Age"))
avg_age.show()

+-------+
|Avg_Age|
+-------+
|  33.56|
+-------+

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [21]:
from pyspark.sql.functions import sum

# Calculate the total salary for each department. Hint - Use GroupBy and Aggregate functions
total_salary_by_dept = employees_df.groupBy("Department").agg(sum("Salary").alias("Total_Salary"))
total_salary_by_dept.show()

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|     Sales|     71408.0|
|        HR|     46700.0|
|   Finance|     57308.0|
| Marketing|     59700.0|
|        IT|     74000.0|
+----------+------------+

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [22]:
# Sort the DataFrame by age in ascending order and then by salary in descending order
sorted_df = employees_df.orderBy(col("Age").asc(), col("Salary").desc())
sorted_df.show()

+------+---------+-------+---+----------+------------------+
|Emp_No| Emp_Name| Salary|Age|Department|  SalaryAfterBonus|
+------+---------+-------+---+----------+------------------+
|   137|   Renske| 3600.0| 26| Marketing|3960.0000000000005|
|   101|    Neena|17000.0| 27|     Sales|           18700.0|
|   114|      Den|11000.0| 27|   Finance|12100.000000000002|
|   108|    Nancy|12008.0| 28|     Sales|13208.800000000001|
|   130|    Mozhe| 2800.0| 28| Marketing|3080.0000000000005|
|   126|    Irene| 2700.0| 28|        HR|2970.0000000000005|
|   204|  Hermann|10000.0| 29|   Finance|           11000.0|
|   115|Alexander| 3100.0| 29|   Finance|3410.0000000000005|
|   134|  Michael| 2900.0| 29|     Sales|3190.0000000000005|
|   198|   Donald| 2600.0| 29|        IT|2860.0000000000005|
|   140|   Joshua| 2500.0| 29|   Finance|            2750.0|
|   136|    Hazel| 2200.0| 29|        IT|            2420.0|
|   120|  Matthew| 8000.0| 30|        HR|            8800.0|
|   110|     John| 8200.0| 31| Marketing|            9020.0|
|   127|    James| 2400.0| 31|        HR|            2640.0|
|   201|  Michael|13000.0| 32|        IT|14300.000000000002|
|   111|   Ismael| 7700.0| 32|        IT|            8470.0|
|   119|    Karen| 2500.0| 32|   Finance|            2750.0|
|   205|  Shelley|12008.0| 33|   Finance|13208.800000000001|
|   124|    Kevin| 5800.0| 33| Marketing| 6380.000000000001|
+------+---------+-------+---+----------+------------------+
only showing top 20 rows

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [23]:
from pyspark.sql.functions import count

# Calculate the number of employees in each department
count_by_dept = employees_df.groupBy("Department").agg(count("Emp_No").alias("Employee_Count"))
count_by_dept.show()

+----------+--------------+
|Department|Employee_Count|
+----------+--------------+
|     Sales|            13|
|        HR|             8|
|   Finance|            10|
| Marketing|             9|
|        IT|            10|
+----------+--------------+

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [25]:
# Apply a filter to select records where the employee's name contains the letter 'o'
filtered_employees = employees_df.filter(employees_df.Emp_Name.contains('o'))
filtered_employees.show()

+------+-----------+------+---+----------+------------------+
|Emp_No|   Emp_Name|Salary|Age|Department|  SalaryAfterBonus|
+------+-----------+------+---+----------+------------------+
|   198|     Donald|2600.0| 29|        IT|2860.0000000000005|
|   199|    Douglas|2600.0| 34|     Sales|2860.0000000000005|
|   110|       John|8200.0| 31| Marketing|            9020.0|
|   112|Jose Manuel|7800.0| 34|        HR|            8580.0|
|   130|      Mozhe|2800.0| 28| Marketing|3080.0000000000005|
|   133|      Jason|3300.0| 38|     Sales|3630.0000000000005|
|   139|       John|2700.0| 36|     Sales|2970.0000000000005|
|   140|     Joshua|2500.0| 29|   Finance|            2750.0|
+------+-----------+------+---+----------+------------------+

# Congratulations! You have completed the project.

Now you know how to create a DataFrame from a CSV data file and perform a variety of DataFrame transformations and actions using Spark SQL.

## Authors

Raghul Ramesh

Lavanya T S

<!--## Change Log -->

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-01|0.1|Lavanya T S|Initial version|
|2023-09-11|0.2|Pornima More|QA pass with edits|-->

<h3 align="center"> &#169; IBM Corporation. All rights reserved. <h3/>